form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
}
form div input{
    padding: 5px;
}
.errLine{
    display: flex;
}
 

button{
    text-align: left;
    color: rgb(8, 94, 8);
    border: none;
    font-size: 25px;
    background-color: transparent;
    line-height: 12px;
}